.incomplete {
    background-color: rgba(255, 255, 0, 0.512);
}

@media (max-width: 1130px) {
          .btn.active {
            font-size: 12px;
          }
          
          .btn:focus {
            outline: none;
            font-size: 12px;
          }
}


@media (max-width: 860px) {
    .btn.active {
       font-size: 10px;
    }
    
    .btn:focus {
      outline: none;
      font-size: 10px;
    }
}
